*{
	/*padding: auto;*/
	margin: 0;
	
}
body{scroll-behavior: smooth;}
nav {
	background: black;
	position: fixed;
	width: 100vw;
	top: 0;
	z-index: 5;

}
li {
	/*float:left;*/
	color: white;
	display: inline-block;
	padding: 10px;
}
nav li a{
	text-decoration: none;
	color: white;
    font-size: 1.5em;
}


#logo{
	height: 30px;
	width: 30px;
	margin-right: 30px;
	position: relative;
	left: 20px;
	top:5px;
}
#bugger{
	position: relative;
	top: 220px;
	display: none;
}
#bugger:checked ~  nav{
	height: 300px;
	background: #e17e03;
}
#bugger:checked ~  #bug::before{
	transform: rotate(45deg);
}
#bugger:checked ~  #bug::after{
	transform: rotate(-45deg);
}
#bugger:checked ~  #bug{
	background: inherit;
}
#bug{
	position: sticky;
	cursor: pointer;
	display: block;
	top:2500px;
	background: #fff;
	width: 30px;
	height: 3px;
	z-index: 6;
	
}
#bug::after{
	content:" ";
	height: 3px;
	width: 30px;
	background: #ffffff;
	position: relative;
	top:5px;
	display: none;
}
#bug::before{
	content:" ";
	height: 3px;
	width: 30px;
	background: #ffffff;
	position: relative;
	display: none;
	top: 15px;
	
}
/*........home section..........*/
#home{
	height: 100vh;
	opacity: 6;
	background-image:linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.5)), url("bg.png");
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;

	/*background: black;*/

}
center{
	padding-top: 25vh;
}
center #welcome{
	font-size: 5em;
	border: 5px solid #ffffff;
	width: 60%;
	margin-top: 90px;
	border-top-color: #e17e03;
	border-left-color: #e17e03;
	/*text-rendering: 90;*/
}
#touch{
	height: auto;
	width: 6.4em;
	background: #e17e03;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top:4em;,
	font-size: 3em;
	box-shadow: 1px 2px 5px rgba(255,255,255,1.0),-1px -2px-5px rgba(255,255,255,1.0);
	border: 3px solid #fff;

	text-shadow: 1px 2px 5px rgba(255,255,255,1.0),-1px -2px-5px rgba(255,255,255,1.0);
}
/*...........about us section.............*/
#about{
	height: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
    flex-wrap: wrap;
}
#about img{
	height: 50vh;
	width: 50%;
}
#about div #texts {
	text-align: center;
	font-size: 1.2em;
	justify-content: center;
	text-align: center;
	padding: 15px;

}
#about div{
	height: 500px;
	width: 500px;
}
#serviceh::before{
	content: " ";
	height: 200px;
	width: 50px;
	background: red;
}
/*........service section.................*/
.shead{
	text-align: center;
	font-size: 3em;
}

#service{
	height: auto;
	width: 100vw;
	display: flex;
	align-self: stretch;
	justify-content: space-around;
	flex-wrap: wrap;

}
.service{
	height: 300px;
	width: 230px;
	background:  #000000;
	color: #ffffff;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 2em;
	box-shadow: 6px 6px 10px rgba(0,0,0,1.5),-3px -3px 3px rgba(255,255,222,1.5);
    flex-wrap: wrap;
	transition: 3s ease;
	cursor: pointer;
	
	margin: 20px;
}
.graphics::before{
	content: "PCs and servers in local networks and is commonly employed along with a mix of 10/100 Mbps devices. For example, a 10/100/1000 switch supports all three rates and adjusts to the highest speed between sender and receiver. All new computers and most network devices support Gigabit Ethernet.";

}
.net::before{
	content: "  All new computers and most network devices support Gigabit Ethernet.";
	
}
.web::before{
	content: "PCs and servers in local networks and is commonly employed along with a mix of 10/100 Mbps devices. For example, a 10/100/1000 switch supports all three rates and adjusts to the highest speed between sender and receiver. All new computers and most network devices support Gigabit Ethernet.";
	
}
.service::before{
	/*content: "PCs and servers in local networks and is commonly employed along with a mix of 10/100 Mbps devices. For example, a 10/100/1000 switch supports all three rates and adjusts to the highest speed between sender and receiver. All new computers and most network devices support Gigabit Ethernet.";*/
	height: 100%;
	/*width: 100%;*/
	background:  rgba(0,0,0,0.7);
	transition: 3s ease;
	font-size: 0.6em;
	display: none;
}   
 .service .icon{
 	
 	height: 1em;
 	width: 1em;
 	border-radius: 50%;
 	border: 3px solid #e17e03;
 	
 }
 .web{
 	background-image: linear-gradient(rgba(0,0,0,0.573),rgba(0,0,0,0.5)),url(web.jpeg)
 }
 .net{
 	background-image: linear-gradient(rgba(0,0,0,0.573),rgba(0,0,0,0.5)),url(net.jpeg)
 }
 .graphics{
 	background-image: linear-gradient(rgba(0,0,0,0.573),rgba(0,0,0,0.5)),url(graphic.jpeg)
 }
 /*...........portfolio section..............*/
 #portfolio{
 	height: auto;
 	width: 100%;
 	display: flex;
 	align-items: center;
 	justify-content: space-around;
 	background: #c7c7d0;
 	flex-wrap: wrap;
 }
 .item{
 	height: 300px;
 	width: 200px;
 	background-image: url(web.jpeg);
 	overflow: hidden;
 	margin: 20px;
 	border: 5px solid #ffffff;
 	box-shadow: 6px 6px 10px rgba(0,0,0,1.5),-3px -3px 3px rgba(255,255,222,1.5);
 }

.item::after{
	width: 700px;
	height: 20%;
	background: rgb(255,255,255);
	content: "somthing  ";
	text-align: center;
	padding: 50px;
	font-size: 2em;
	box-shadow: 6px 6px 10px rgba(0,0,0,1.5),-3px -3px 3px rgba(255,255,222,1.5);
	/*transform: translateY(500px);*/
}
/*................contact us.............*/
#contact{
	height: 80vh;
	width: 100vw;
	display: flex;
	justify-content: space-between;
}
.info{
	height: 80%;
	width: 48%;
	/*background:  #c7c7d0;*/
	
}

.form{
padding-left: 2em;
padding-top: 2px;
/*font-size: 1.5em;*/
}
input[type="text"],input[type="email"],select,textarea{
	background: inherit;
	border-top: none;
	border-left: none;
	border-right: none;
	width: 25vw;
	border-bottom: 3px solid #000000 
	font-size:40px;

}
textarea{
	border: 2px solid #000000;
	width: 30vw;
	height: 30vh;
}
select{
	width: 30vw;
}
form{
	padding: 2em;
	background: #ffffff;
	width: 80%;
	box-shadow: 3px 3px 10px rgba(0,0,0,1.5),-3px -3px 3px rgba(255,255,222,1.5);

}
input[type="submit"]{
	background: #0a2dcb;
    border: none;
    color: #ffffff;
    cursor: pointer;
	padding: 10px;
	width: auto;

}
#btn{
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 30px;
    margin-left: 0;
    flex-wrap: wrap;
}
#btn a,#btn p{
	background: rgba(0,0,0,1);
   margin: 5px;
border: 3px solid #e17e03;
padding: 10px 28px;
color: #fff;
transition: 0.4s;
margin: 0px 2px 0px;
}
/*..........................footer section..................*/
footer{
	background: #000;
	height: 50px;
	width: 100vw;
	color:#ffffff;
	text-align: center;
	z-index: 2;
}

	/*...........................social icons..................*/
.social-media{
	height: 30vh;
	width: 5%;
	background: #fff;
	position: absolute;
	top: 32vh;
	margin: 0;
	display: flex;
	
}
.fab{
	width: 240px;
	height: 240px;
	background: #e17e03;
	position: relative;
	border-radius: 50%;
}

/*...........................hover..........................*/

.graphics:hover +.graphics::before{
	display: block;
	transform: translateX(-190%);
	/*width: 100%;*/
}

.main:hover{
	color: #e17e03;
	

}
.main:link{
	color: #e17e03;
	transform: scale(2,2);

}
 

/*.....................media queries...........................*/
@media only screen and (max-width: 1200px) {
	#contact{
		flex-direction: column;
		justify-content: center;
		height: auto;
		align-items: center;

	}
	.info{
		width:60%;
	}
	.item{
		font-size: 1em;
	}
	
}
@media only screen and (max-width: 600px){
	nav{
		display: flex;
		flex-wrap: wrap;
		height: 40px;
		overflow: hidden;
		transition: 3s ease;
		
	}
	li{display: block;
		width: 100%;
		justify-content:center;
		display: block;


	}
	#bug{
		left: 87%;
		top: 10px;
		display: block;

	}
	#bug::before{
		display: block;
		transition: 3s ease
	}
	#bug::after{
		display: block;
		transition: 3s ease
	}
	li a{
		padding-right: 70%;
	
	}

	center #welcome{
		margin-top:5px;
	}

	.main:hover{
	color: #000000;
	

}
.main:link{
	color: #000000;
	transform: scale(2,2);

}
}




